.example-gallery-item-container {
  width: 25%;
  height: 300px;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.example-gallery-image {
  display: block;
  width: 100%;
  height: auto;
}
.homepage-gallery-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  overflow: hidden;
}

.gallery-item-description-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #800000;
}

.example-gallery-item-container:hover .gallery-item-description-container {
  opacity: 0.7;
}

.gallery-item-description-container .text {
  color: white;
  font-size: 14px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

@media (max-width: 1215px) {
  .example-gallery-item-container {
    width: 50%;
  }
}

@media (max-width: 683px) {
    .example-gallery-item-container {
      width: 100%;
    }
  }
  