.service-block {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    width: 300px;
    margin: 2em 1em;
}

.service-description-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.service-description-container p {
    margin-left: 3%;
}
.service-description-container img {
    width: 68px;
    height: 68px;
}
.examples-button {
    background-color: #800000;
    color: white;
    padding: 0em 1em;
    margin-top: 1em;
    width: 200px;
    text-align: center;
    align-self: center;
    cursor: pointer;
    overflow: hidden;
}

.examples-button p {
    margin: 7% 0%;
    font-weight: 700;
}

.service-block a {
    text-decoration: none;
}