@import url("https://fonts.googleapis.com/css?family=Exo");

* {
  box-sizing: border-box;
}

body {
  margin: 0px;
  font-family: "Exo", sans-serif;
}

div {
  display: block;
  position: relative;
}

h1 {
  margin: 0;
}

.work-header {
  font-weight: 900;
  font-size: 2.4em;
  margin: 4% 2%;;
}

.section-portfolio-work {
  margin: 4% 3%;
}

.section-title {
  background-color: #800000;
  text-align: center;
  color: white;
}

.section-title.section-title-work {
  background-color: white;
  text-align: left;
  color: #1e272e;
}

.section-title h1 {
    padding: 2% 0%;
}

.service-box {
  display: flex;
  justify-content: space-evenly;
  margin: 3% 0%;
  flex-wrap: wrap;
}

.section-title.testimonials {
  color: #1e272e;
  background-color: transparent;
}

.testimonials-container {
  display: flex;
  flex-direction: column;
}

.header-nav-outer-container {
  background-color: #800000;
}

.content-container {
  display: flex;
  flex-wrap: wrap;
}

.page-title {
  text-align: center;
  background-color: #DCDCDC;
  padding: .7em;
  font-size: 2.4em;
}

.content-container h2 {
  font-size: 2em;
}

.content-container p {
  font-size: 1.1em;
}

.service-description,.service-img {
  width:50%;
}

.service-img {
  height: 640px;
}

.all-pages-jumbotron {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center top;
  min-height: 448px;
}

.contact-page-jumbotron {
  background-position: center bottom;
}

.client-logos-outer-container {
  background-color: #1e272e;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.client-logos-container {
  width: 100%;
  max-width: 1100px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.client-logo {
  padding: 1em;
  height: 100px;
}

.logo-container-title {
  color: white;
}

.all-client-testimonials-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.client-client-outer-container {
  display: inline-block;
  margin: 3em;
}

.client-client-container {
  background-color: #800000;
  width: 100%;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  min-height: 572px;
}

.client-profile-img {
  width: 350px;
  height: 223px;
}

.client-quote-container {
  width: 350px;
  display: flex;
  flex-direction: column;
}

.client-quote-author {
  float: right;
}

.contact-wrapper {
  width: 30%;
  margin: 4em 4em;
}
.contact-flex-container {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}

.headshot-container {
  width: 30%;
  margin: 1em 4em;
}
.headshot-container img {
  width: 100%;
}

.contact-wrapper p {
  margin: 4em 0em;
}

.portfolio-video-outer-wrapper {
  display: flex;
  justify-content: center;
}

.portfolio-video-wrapper {
  display: flex;
  flex-direction: column;
}

.portfolio-video-wrapper iframe {
  align-self: center;
}

.vimeo-wrapper {
  margin: 3em;
}

.portfolio-video-wrapper h1 {
  margin-top: 2em;
}

@media only screen and (max-width: 710px) {
  .contact-wrapper {
    width: 80%;
    margin: 1em 1em;
  }
  .headshot-container {
    width: 70%;
    margin: 1em 4em;
  }
}
