nav.services-nav {
  display: flex;
  flex-direction: row;
  margin: 1em;
  margin-top: 3em;
}

.service-nav-link {
    font-size: calc(.00485*100vw + 7.18182px);
  color: inherit;
  text-decoration: none;
  display: block;
  opacity: 0.6;
  margin-right: 20px;
  padding-bottom: 1.1em;
  color: #1e272e;
  font-weight: 300;
  white-space: nowrap;
  border-bottom: 1px solid transparent;
  -webkit-transition: opacity 0.2s ease-in-out;
  transition: opacity 0.2s ease-in-out;
}

a.service-nav-link:hover {
  opacity: 1;
}

.service-nav-link.selected {
    border-bottom: 1px solid #1e272e;
    opacity: 1;
}

#service-description-container {
    display: flex;
    margin: 2em;
    flex-direction: column;
}

#service-image {
    width: 100%;
    margin-bottom: 2em;
}

@media (min-width: 469px) {
    .service-nav-link {
        font-size: calc(.00485*100vw + 12.18182px);
    }
}

@media (min-width: 637px) {
    nav.services-nav {
        margin-left: 5em; 
    }
    #service-description-container {
        flex-direction: row-reverse;
        display: flex;
        align-items: center;
    }
    #service-description {
        width: 50%;
        display: flex;
        align-items: center;
        line-height: 1.9em;
        margin: 3em;
    }
    .service-image-container {
        width: 50%;
    }

}

@media (min-width: 1200px) {
    .service-nav-link {
        font-size: 18px;
    }
}