@import url("https://fonts.googleapis.com/css?family=Bangers");

.header-logo img {
  max-width: 100%;
}

.header-logo {
  max-width: 150px;
}

.mobile-top-nav-container {
  margin: .3% 0% 0% 3%;
}

.menu-bar1,
.menu-bar2,
.menu-bar3 {
  width: 1.8em;
  height: .27em;
  background-color: white;
  margin: 6px 0;
  transition: 0.4s;
}
.mobile-menu-container {
  display: inline-block;
  cursor: pointer;
  padding: 0% 8%;
}
.header-nav-container {
  background-color: #800000;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  /* padding: 5% 0%; */
}

.mobile-top-nav-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.navigation.mobile.show {
  display: flex;
  flex-direction: column;
  padding: 3% 8% 10% 10%;
}

.navigation.mobile.hide {
  display: none;
}

.navigation.mobile a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  border-bottom-style: solid;
  padding: 4% 0%;
  border-bottom-width: 1px;
}

.navigation.desktop {
  display: none;
}

.navigation.desktop a.nav-selected {
  color: #ffd700;
}

@media (min-width: 1141px) {
  .mobile-menu-container {
    display: none;
  }

  .navigation.mobile.show {
    display: none;
  }

  .header-nav-container {
    background-color: transparent;
    font-size: 1.7em;
  }

  .navigation.desktop {
    display: inline;
  }

  .navigation.desktop a {
    text-decoration: none;
    color: white;
    font-size: 1em;
    padding: 3% 3%;
    font-weight: 800;
  }

  .navigation.desktop a:hover {
    /* color: #DAA520; Gold Rod*/
    color: #ffd700;
  }

  .header-nav-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }
  .navigation.desktop {
    margin-right: 8%;
    display: flex;
    justify-content: space-between;
    width: 30%;
  }
  .mobile-top-nav-container {
    margin: .3% 0% 0% 8%;
  }
  .header-logo {
    max-width: 150px;
  }
}

@media (max-width: 700px) {
  .header-logo {
    max-width: 100px;
  }
  .mobile-top-nav-container {
    margin: .3% 0% 0% 8%;
  }
}