footer {
    background-color: #1e272e;
    color: white;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    overflow: auto;
}

.services-list {
    list-style: none;
    padding: 0px;
}

.services-list li {
    padding: .1em;
}

.social-media-icons a {
    padding: .7em;
}

.contact-info p {
    margin: .3em;
}

.contact-info div {
    margin-top: 1em;
}