.testimonial-container {
    display: flex;
    flex-direction: row;
    padding: 2em 8em;
}
.testimonial-container.reverse {
    flex-direction: row-reverse;
    text-align: right;
}
.testimonial-image {
    margin-right: 4em;
}

.testimonial-image img {
    border-radius: 50%;
    width: 159px;
    height: 159px;
}

.testimonial-container.reverse .testimonial-image {
    margin-left: 4em;
    margin-right: 0em;
}

@media (max-width: 640px) {
    .testimonial-container {
        flex-direction: column;
    }
    .testimonial-container.reverse {
        flex-direction: column;
        text-align: left;
    }
    .testimonial-container.reverse .testimonial-image {
        margin-left: 0em;
        margin-right: 4em;
    }
}