.header-video-container {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.tag-line-container {
  color: white;
  margin: 0 auto;
  z-index: 100;
  cursor: pointer;
  display: flex; 
}

.header-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  display: inline-block;
  vertical-align: baseline;
  object-fit: cover;
  z-index: -100;
  opacity: .7;
}

.header-video-inner-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  cursor: pointer;
}

.jumbotron-buttons {
  background-color: #800000;
  margin: 1em;
  width: 175px;
  text-align: center;
  padding: 0.6em 1em;
  height: 100%;
}

.jumbotron-buttons a {
  text-decoration: none;
  display: inline;
  font-size: 1.3em;
  color: white;
}

@media (max-width: 424px) {
  .jumbotron-buttons {
    width: 135px;
  }
}

.header-video-inner-container .header-nav-outer-container {
  background-color: transparent;
}

.header-video-background {
  position: absolute;
  height: 100vh;
  width: 100%;
  background-color: black;
  z-index: -110;
}